@(books: java.util.List[Book], bookForm: play.data.Form[Book])
@import helper._

@main("Books list") {
    <a href="@routes.TasksController.tasks()">Tasks</a>
    <a href="@routes.ArticlesController.articles()">Articles</a>

    <h1>@books.size() books.</h1>
    <a href="@routes.BooksController.newBook()">Add new</a>

    <ul>
    @for(book <- books) {
        <li>@book.title
            @form(routes.BooksController.deleteBook(book.id)) {
                <a href="/book/@book.id">Show this book</a>
                @*<input type="text" value="@book.title">*@
                <input type="submit" value="Delete">
            }
        </li>
        @*//TODO: make form for changing books here!*@
    }
    </ul>
    <button id="ch_btn">Changing books</button>
    <div id="change">
        <h2>Change</h2>
        <ul>
            @for(book <- books) {
                <li>
                @form(routes.BooksController.updateBook(book.id)) {
                    <input type="text" id="title" name="title" value="@book.title">
                    <input type="date" id="date" name="date" value="@book.date__str()">
                    <input type="text" id="numberOfPages" name="numberOfPages" value="@book.numberOfPages">
                    <input type="submit" value="Update">
                }</li>
            }
        </ul>
    </div>
}