@(tasks: java.util.List[Task], taskForm: play.data.Form[Task])
@import helper._

@main("Tasks list") {
    <a href="books">Books</a>
    <h1>@tasks.size() tasks.</h1>

    <ul>
        @for(task <- tasks) {
            <li>@task.label
                @form(routes.TasksController.deleteTask(task.id)) {
                    <a href="task/@task.id">Show this task</a>
                    <input type="submit" value="Delete">
                }
            </li>
            @*//TODO: make form for adding new tasks*@
        }
    </ul>
    <h2>Add new</h2>
    @form(routes.TasksController.newTask()) {
        @inputText(field = taskForm("label"))
        <input type="submit" value="Create">
    }

}
