@(tasks: java.util.List[Task], taskForm: play.data.Form[Task])
@import helper._

@main("Tasks list") {
    <a href="@routes.BooksController.books()">Books</a>
    <a href="@routes.ArticlesController.articles()">Articles</a>

    <h1>@tasks.size() tasks.</h1>
    <a href="@routes.TasksController.newTask()">Add new</a>

    <ul>
        @for(task <- tasks) {
            <li>@task.title
                @form(routes.TasksController.deleteTask(task.id)) {
                    <a href="task/@task.id">Show this task</a>
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    <h2>Add new</h2>
    @form(routes.TasksController.newTask()) {
        @inputText(field = taskForm("title"))
        <input type="submit" value="Create">
    }

}
